

.transactionHistory {
    background-color: white;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.41);
    border-collapse: collapse;
    margin-bottom: 165px;
  }
  
  table .transactionHistory {
    table-layout: fixed;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    
  }

  .center{
    text-align: center;
  }
  
  thead th {
    width: 225px;
    padding: 20px;
    color: white;
    background-color: #00bcd5;
  }